@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

* {
  background-color: #0f0f0f;
  margin: 0;
  padding: 0;
}

li,
ol,
ul {
  list-style-type: none;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: white;
}

.animate__animated {
  --animate-duration: 1s;
}
